body {
  /*background-color: #f5f6f7;*/
  font-family: "Lora","open sans","HelveticaNeue-Light",
  "Helvetica Neue Light","Helvetica Neue",
  "Arial","Lucida Grande","sans-serif";
  margin: 0;
  font-size: 20px;
  line-height: 1.25em;
}

h1 {
  text-align: center;
  margin-top: 0;
}

.profilePic {
  max-width: 35%;
}

.profilePic  {
  width: 75%;
  display: block;
  margin: 10px auto;
}

.name {
  font-size: 24px;
  color: white;
  /*color: #06BC9B;*/
  text-shadow: 2px 2px #63707e;
  /*text-shadow: 2px 2px #06BC9B;*/
  font-family: 'Cairo', sans-serif;
  font-family: 'Questrial', sans-serif;  text-align: center;
}

.tagline {
  text-align: center;
  font-size: 20px;
  color: #63707e;
  text-shadow: 1px 1px #06BC9B;
}

.projectImages {
  display: block;
  border-style: round;
  width:100%;

}
/*color: #06BC9B; color for other shit*/
