body {
  /*background-color: #f5f6f7;*/
  font-family: "Lora","open sans","HelveticaNeue-Light",
                "Helvetica Neue Light","Helvetica Neue",
                "Arial","Lucida Grande","sans-serif";
color: #63707e;
}

.profilePic {
  max-width: 35%;
}

.profilePic  {
  width: 75%;
  display: block;
  margin: 10px auto;
}

img {
  max-width: 55%
}

img {
  width: 100%;
  display: block;
  margin: 10px auto;
  position: relative;

}

.main-nav {
  align-items: right;
}

/*color: #06BC9B; color for other shit*/
