#home {
  background-color: #FFD6C0;
  color:#0B3954;
  min-width: 100vw;
  margin-top:0px;
}
#projects {
  background-color: #F5F7DC;
  color:#0B3954;
}

#about {
  background-color: white;
  /*background-color: #F0B67F;*/
  color: #494949;
}

#contact {
  background-color: #421820;
  color: #CD5D67;
}

.name,.tagline,{
  text-align: center;
}
