#home {
  background-color: #FFD6C0;
  color:#0B3954;
  min-width: 100vw;
  min-height:100vh;
  position: relative;
  /*top:130px;*/
  /*z-index: -1;*/
  /*background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: 0;*/*/

  /*body: #06BC9B;*/
}
#projects {
  background-color: #F5F7DC;
  color:#0B3954;
}

#about {
background-color: #F0B67F;
}

#contact {
  background-color: #A9FBC3;
}

.name,.tagline,.GitHub {
  text-align: center;
}
