#home {
  background-color: #FFECCC;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: auto;

  /*body: #06BC9B;*/
}
#projects {
  background-color: #F2D0A4;
}

#about {
background-color: #A4303F;
}

#contact {
  background-color: #870058;
}
