.main-nav {
  color: #494949;
  opacity: 1;
  text-align: right;
  top: 5px;
  right: 15px;
  padding: -0.1em;
  position: fixed;
  width: 100%;
}
.main-nav ul {
  background-color: white;
  color:#06BC9B;
  display: none;
  list-style: none;
  float: right;
  clear: both;
  padding: 0;
  margin: 0;
  width: 200px;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  /*display: block;*/
  font-size: 1.5em;
  margin-right: .4em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
}

.project-template {
  display: none;
}

.icon .icon-menu {
  float:right;
}
