.main-nav {
  color: black;
  opacity: 1;
  text-align: right;
  margin-top: -10px;
  top: -82px;
  right: -95px;
  padding: -0.1em;
  position: fixed;
  width: 100%;
}

.main-nav ul {
  background-color: transparent;
  color: white;
  display: none;
  list-style: none;
  float: right;
  clear: both;
  padding: 0;
  margin: 0;
  width: -90px;
  position: absolute;
  z-index: 2;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  /*display: block;*/
  font-size: 1.5em;
  margin-left: 1.5em;
  padding: .5em .2em;
  text-align: center;
  /*border-bottom: 1px solid #ccc;*/
  z-index: 2;
}

.project-template {
  display: none;
}

.icon .icon-menu {
  float:right;
  position: fixed;
}

.icon {
  margin: 100px;
}

.modal-overlay {
  background-color: #06BC9B;
  bottom: 0;
  height: 100vh;
  left: 100;
  opacity: 0.8;
  position: fixed;
  right: 0;
  top: 0;
  width: 1000%;
  z-index: 1;
}
