.main-nav {
  padding: 0.1em;
  position: fixed;
  width: 100%;
  text-align: right;
}
.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  /*display: block;*/
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
}

.project-template {
  display: none;
}

.icon .icon-menu {
  float:right;
}
